body{
    background: url(/wallpapers/_21_pixel-wallpaper-gif_Android-Mobiles-Full-Hd-Resolutions-1080-X-Waneella-Pixel-.gif) ;
    background-origin: border-box;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.main_container{
    background-color: #e56a3172;
    width: 1000px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 50px solid black;
    border-left: 30px solid black;
    border-top: 10px solid black;
    border-right: 30px solid black;
    font-family: '8BIT WONDER', sans-serif;
                                                
    
}
header{
    background-color: wheat;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 30px solid black;
    border-left: 15px solid black;
    border-top: 4px solid black;
    border-right: 15px solid black;
    box-sizing: border-box;
    text-align: center;
}
.sem_box{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: wheat;
    border-bottom: 30px solid black;
    border-left: 15px solid black;
    border-top: 4px solid black;
    border-right: 15px solid black;
    box-sizing: border-box;
    text-align: center;
}
main{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: #ee95618c;
    border-bottom: 30px solid black;
    border-left: 15px solid black;
    border-top: 4px solid black;
    border-right: 15px solid black;
    box-sizing: border-box;



}

footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color:#ee95618c;
    border-bottom: 30px solid black;
    border-left: 15px solid black;
    border-top: 4px solid black;
    border-right: 15px solid black;
    box-sizing: border-box;
}
